<%- include('header') %>

<div class="content-wrapper" ng-controller="">

    <section class="content-header">
        <h1>
            安装程序
            <small>安装完成</small>
        </h1>

    </section>

    <section class="content">
        <div class="callout callout-success">
            <h4>恭喜您!</h4>
            L-blog安装成功！请点击 <a href="/admin">这里</a>进入后台管理
        </div>
    </section>

</div>
<%- include('footer') %>