<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/adminLTE.css">
  <link rel="stylesheet" href="/css/skins/_all-skins.css">
  <!--<link rel="stylesheet" href="/css/font-awesome.css">-->
  <script src="/js/common/jquery.js"></script>
  <script src="/js/common/angular.js"></script>

  <script src="/js/common/bootstrap.js"></script>
  <script src="/js/common/app.js"></script>
</head>
<body class="skin-blue-light sidebar-mini hold-transition" ng-app="install">

<div class="wrapper">

  <!--头部-->
  <header class="main-header">
    <a href="javascript:void(0);" class="logo">
      L-blog博客安装
    </a>

    <nav class="navbar navbar-static-top" role="navigation">



    </nav>
  </header>


  <!--左侧菜单栏-->
  <div class="main-sidebar">

    <div class="sidebar">


      <ul class="sidebar-menu">
        <li class="treeview">
          <a href="javascript:void(0);"><span>1-使用协议书</span> </a>
        </li>
        <li class="treeview">
          <a href="javascript:void(0);"><span>2-环境测试</span> </a>

        </li>
        <li class="treeview">
          <a href="javascript:void(0);"><span>3-网站设置</span> </a>

        </li>
        <li class="treeview">
          <a href="javascript:void(0);"><span>4-安装</span> </a>

        </li>
        <li class="treeview">
          <a href="javascript:void(0);"><span>5-安装完成</span> </a>

        </li>



      </ul>

    </div>
  </div>
  <!--主体-->


