
</div>
<!-- Scripts -->
<script src="/default/assets/js/jquery.min.js"></script>
<script src="/default/assets/js/skel.min.js"></script>
<script src="/default/assets/js/util.js"></script>
<!--[if lte IE 8]><script src="/default/assets/js/ie/respond.min.js"></script><![endif]-->
<script src="/default/assets/js/main.js"></script>
<script src="/default/assets/js/default.controller.js"></script>
</body>
</html>