<ul class="pagination">

    <li>
        <% if(pageList <= 1){ %>
        <span class="button disabled">上一页</span>
        <% }else { %>
        <a href="/page/<%= pageList-1 %>" class="button">上一页</a>
        <% } %>

    </li>


    <li><a href="#" class="page active">1</a></li>
    <li><a href="#" class="page">2</a></li>
    <li><a href="#" class="page">3</a></li>
    <li><span>&hellip;</span></li>
    <li><a href="#" class="page">8</a></li>
    <li><a href="#" class="page">9</a></li>
    <li><a href="#" class="page">10</a></li>

    <% if(pageList >= pageAll){ %>
    <span class="button disabled">下一页</span>
    <% }else { %>
    <li><a href="/page/<%= pageList+1 %>" class="button">下一页</a></li>
    <% } %>

</ul>