

<!-- Sidebar -->
<div id="sidebar">
    <div class="inner">

        <!-- Search -->
        <section id="search" class="alt">
            <form method="post" action="#">
                <input type="text" name="query" id="query" placeholder="Search" />
            </form>
        </section>

        <!-- Menu -->
        <nav id="menu">
            <header class="major">
                <h2>博客分类</h2>
            </header>
            <ul>
                <% categories.forEach(function(item){ %>

                <li>

                    <a href="#"><%= item.name %></a>


                </li>

                <% if(item.cate_parent != ''){ %>

                <% } %>

                <% }) %>
            </ul>

        </nav>

        <!-- Section -->
        <section>
            <header class="major">
                <h2>热门文章</h2>
            </header>
            <div class="mini-posts">
                <% documentHot.forEach(function (doc) {%>
                <article>
                    <a href="#" class="image"><img src="<%= doc.post_img %>" alt="" /></a>
                    <p><%= doc.post_title %></p>
                </article>
                <%}) %>


            </div>
            <ul class="actions">
                <li><a href="#" class="button">More</a></li>
            </ul>
        </section>

        <!-- Section -->
        <section>
            <header class="major">
                <h2>关于我</h2>
            </header>
            <p>基于nodejs、mongodb、express、angularJS、ejs等搭建的blog内容管理系统</p>
            <ul class="contact">
                <li class="fa-envelope-o"><a href="#">1358180015@qq.com</a></li>
                <li class="fa-phone">18520877639</li>
                <li class="fa-home">广东深圳</li>
            </ul>
        </section>

        <!-- Footer -->
        <footer id="footer">
            <p class="copyright"> Copyright © 2017-2017 <a href="https://github.com/lovelife10000/L-blog">L-blog</a>. All rights reserved.  <a href="https://html5up.net">浙ICP备 15005796号-2</a>.</p>
        </footer>

    </div>
</div>