<div class="blue-foot mar-t35">
  <div class="foot-box contianer">
    <h3 class="f-tit-h3 icon1">合作伙伴</h3>
    <ul class="blue-pic-ul">
      <li><a href="https://www.qidianla.com/" title="起点学院" target="_blank"><img
                  src="./人人都是产品经理 _ 产品经理、产品爱好者学习交流平台_files/UmRy7jUASlpCM6CUnk90.jpg" alt="起点学院" title="起点学院"></a></li>
      <li><a href="http://www.upyun.com/index.html?md=pm" title="又拍云" target="_blank"><img
                  src="./人人都是产品经理 _ 产品经理、产品爱好者学习交流平台_files/HxQKUhJ53eeA8xpcAL6n.jpg" alt="又拍云" title="又拍云"></a></li>
      <li><a href="http://www.cyzone.cn/" title="创业邦" target="_blank"><img
                  src="./人人都是产品经理 _ 产品经理、产品爱好者学习交流平台_files/GOPPYNgWKMCvnnkDoOBW.jpg" alt="创业邦" title="创业邦"></a></li>
      <li><a href="http://ke.qq.com/?from=95" target="_blank"><img
                  src="./人人都是产品经理 _ 产品经理、产品爱好者学习交流平台_files/cjnmysRxbG4ka785nuMp.jpg" alt="腾讯课堂"></a></li>
      <li><a href="http://www.geetest.com/?woshipm" target="_blank"><img
                  src="./人人都是产品经理 _ 产品经理、产品爱好者学习交流平台_files/MDjjkR9CTLtcvnjlUo6m.jpg" alt="极验验证"></a></li>
      <li><a href="http://www.xueui.cn/?woshipm" title="学UI网" target="_blank"><img
                  src="./人人都是产品经理 _ 产品经理、产品爱好者学习交流平台_files/kv52c2tIMdimGarqjA1w.jpg" alt="学UI网" title="学UI网"></a></li>
      <li><a href="http://www.zhisheji.com/?woshipm" title="致设计" target="_blank"><img
                  src="./人人都是产品经理 _ 产品经理、产品爱好者学习交流平台_files/l9kE7UXotONkc5p0U0p5.jpg" alt="致设计" title="致设计"></a></li>
      <li><a href="https://www.yunyingpai.com/" title="运营派" target="_blank"><img
                  src="./人人都是产品经理 _ 产品经理、产品爱好者学习交流平台_files/tSKd9Aa6L32c8njrlyqa.jpg" alt="运营派" title="运营派"></a></li>
    </ul>
    <h3 class="f-tit-h3 icon2 mar-t5">友情链接</h3>
    <div class="blue-link-box">
      <ul>
        <li><a href="http://pm265.com/" target="_blank">PM265</a></li>
        <li><a href="http://www.itfeed.com/" target="_blank">ITFeed</a></li>
        <li><a href="http://www.qidianla.com/" target="_blank">起点学院</a></li>
        <li><a href="http://www.nav80.com/" target="_blank">设计师导航</a></li>
        <li><a href="http://uxc.360.cn/" target="_blank">360UXC</a></li>
        <li><a href="http://cued.xunlei.com/" target="_blank">迅雷CUED</a></li>
        <li><a href="http://www.zhaopins.com/" target="_blank">产品经理招聘</a></li>
        <li><a href="http://www.zcool.com.cn/" target="_blank">站酷</a></li>
        <li><a href="http://www.yanj.cn/" target="_blank">演界网PPT模板</a></li>
        <li><a href="http://www.lagou.com/" target="_blank">招聘网</a></li>
        <li><a href="http://www.tuicool.com/" target="_blank">推酷</a></li>
        <li><a href="http://djt.qq.com/" target="_blank">腾讯大讲堂</a></li>
        <li><a href="http://www.9miao.com/" target="_blank">9秒社团</a></li>
        <li><a href="http://www.lieyunwang.com/" target="_blank">猎云网</a></li>
        <li><a href="http://www.zbj.com/" target="_blank">猪八戒网</a></li>
        <li><a href="http://www.qiniu.com/" target="_blank">七牛</a></li>
        <li><a href="http://www.paidai.com/" target="_blank">电子商务</a></li>
        <li><a href="http://www.boxui.com/" target="_blank">盒子UI</a></li>
        <li><a href="http://www.code4app.com/" target="_blank">Code4App</a></li>
        <li><a href="http://waimaoquan.alibaba.com/" target="_blank">外贸圈</a></li>
        <li><a href="http://www.eventdove.com/" target="_blank">会鸽</a></li>
        <li><a href="http://www.shichangbu.com/" target="_blank">市场部网</a></li>
        <li><a href="http://www.uimaker.com/" target="_blank">UI设计</a></li>
        <li><a href="http://www.25xt.com/" target="_blank">25学堂</a></li>
        <li><a href="http://www.jiguang.cn/" target="_blank">极光推送</a></li>
        <li><a href="http://www.yixieshi.com/" target="_blank">互联网的一些事</a></li>
        <li><a href="https://www.teambition.com/" target="_blank">Teambition</a></li>
        <li><a href="http://www.zzjidi.com/" target="_blank">站长基地</a></li>
        <li><a href="http://www.cjol.com/" target="_blank">找工作</a></li>
        <li><a href="http://www.iyiou.com/" target="_blank">亿欧网</a></li>
        <li><a href="http://www.31huiyi.com/" target="_blank">31会议</a></li>
        <li><a href="http://www.tvhome.com/" target="_blank">电视之家</a></li>
        <li><a href="http://www.investide.cn/" target="_blank">投资潮</a></li>
        <li><a href="http://www.apkbus.com/" target="_blank">安卓巴士</a></li>
        <li><a href="http://www.php100.com/" target="_blank">PHP100</a></li>
        <li><a href="http://www.pintu360.com/" target="_blank">品途商业评论</a></li>
        <li><a href="http://www.huoban.com/" target="_blank">伙伴云表格</a></li>
        <li><a href="http://www.yopai.com/" target="_blank">优派网</a></li>
        <li><a href="http://mux.baidu.com/" target="_blank">百度MUX</a></li>
        <li><a href="http://www.yunyingpai.com/" title="运营派" target="_blank">运营派</a></li>
      </ul>
      <div class="clearfix"></div>
    </div>
  </div><!--foot-box-->
</div><!--blue-foot-->