</div>
<div class="back2top"><span class="icon-top iconfont"></span></div>
<div class="loadingBar"></div>

</div>
<script src="/<%= theme %>/assets/js/jquery-1.12.4.min.js"></script>
<script src="/<%= theme %>/assets/js/default.controller.js"></script>

</body>
</html>