<div class="right-column">
    <div class="sidebar">
        <aside id="widget_notice-2" class="widget widget_widget_notice"><h3 class="widget-title">加入圈子</h3>
            <div class="widget-site-info">
                <div class="join-info">

                    <dl class="code-dl">
                        <dd>
                            <img src="./人人都是产品经理 _ 产品经理、产品爱好者学习交流平台_files/pm-erweima.jpg">
                        </dd>
                        <dt>关注微信公众号</dt>
                    </dl>
                    <ul class="code-ul">
                        <li>运营交流群：193274344</li>
                        <li>北京产品群：485701965</li>
                        <li>福建产品群：397675573</li>
                        <li>全国产品群：617953507</li>
                        <li>江浙沪产品群：136399658</li>
                    </ul>
                </div>
                <div class="app-info"><a class="ios"
                                         href="https://itunes.apple.com/cn/app/ren-ren-dou-shi-chan-pin-jing/id998090859"
                                         target="_blank"><span class="iconfont icon-ios"></span>iOS版下载</a> <a
                            href="http://sj.qq.com/myapp/detail.htm?apkName=com.woshipm.news" target="_blank"
                            class="android"><span
                                class="iconfont icon-android"></span>Android版下载</a></div>
            </div>
        </aside>
        <div class="widget-ad"><a href="http://y0.cn/N1aeF" target="_blank"><img
                        src="./人人都是产品经理 _ 产品经理、产品爱好者学习交流平台_files/UjN5YYIPZL8ArxWvL2zA.jpg" alt=""></a></div>
        <div class="widget-ad"><a href="http://y0.cn/JHsWg" target="_blank"> <img
                        src="./人人都是产品经理 _ 产品经理、产品爱好者学习交流平台_files/XJcLiRWQOVThokFkr3T5.jpg" alt=""> </a></div>
        <div class="widget-ad"><a href="http://y0.cn/5GMYS" target="_blank"> <img
                        src="./人人都是产品经理 _ 产品经理、产品爱好者学习交流平台_files/RgMpPxpP7PkuBAhRHNDK.jpg" alt=""> </a></div>
        <aside id="writers-2" class="widget widget_writers"><h3 class="widget-title">推荐作者</h3>
            <ul class="widget-author-list">
                <li class="widget-author-list-item u-clearfix"><a href="http://www.woshipm.com/u/57956" target="_blank"><img
                                src="./人人都是产品经理 _ 产品经理、产品爱好者学习交流平台_files/50x50" alt="" height="50" width="50"
                                class="avatar"></a>
                    <div class="widget-author-list-content"><h4><a href="http://www.woshipm.com/u/57956"
                                                                   target="_blank">韩叙<span
                                        class="iconfont icon-labelv"></span></a></h4>
                        <p>“秒嗨"运营负责人</p></div>
                </li>
                <li class="widget-author-list-item u-clearfix"><a href="http://www.woshipm.com/u/101224"
                                                                  target="_blank"><img
                                src="./人人都是产品经理 _ 产品经理、产品爱好者学习交流平台_files/50x50(1)" alt="" height="50" width="50"
                                class="avatar"></a>
                    <div class="widget-author-list-content"><h4><a href="http://www.woshipm.com/u/101224"
                                                                   target="_blank">网易UEDC<span
                                        class="iconfont icon-labelv"></span></a></h4>
                        <p>网易用户体验设计中心</p></div>
                </li>
                <li class="widget-author-list-item u-clearfix"><a href="http://www.woshipm.com/u/39266" target="_blank"><img
                                src="./人人都是产品经理 _ 产品经理、产品爱好者学习交流平台_files/50x50(2)" alt="" height="50" width="50"
                                class="avatar"></a>
                    <div class="widget-author-list-content"><h4><a href="http://www.woshipm.com/u/39266"
                                                                   target="_blank">雷华萍<span
                                        class="iconfont icon-labelv"></span></a></h4>
                        <p>家庭医生在线运营总监</p></div>
                </li>
                <li class="widget-author-list-item u-clearfix"><a href="http://www.woshipm.com/u/41549" target="_blank"><img
                                src="./人人都是产品经理 _ 产品经理、产品爱好者学习交流平台_files/50x50(3)" alt="" height="50" width="50"
                                class="avatar"></a>
                    <div class="widget-author-list-content"><h4><a href="http://www.woshipm.com/u/41549"
                                                                   target="_blank">韩利<span
                                        class="iconfont icon-labelv"></span></a></h4>
                        <p>《运营实战指南》作者</p></div>
                </li>
                <li class="widget-author-list-item u-clearfix"><a href="http://www.woshipm.com/u/110477"
                                                                  target="_blank"><img
                                src="./人人都是产品经理 _ 产品经理、产品爱好者学习交流平台_files/50x50(4)" alt="" height="50" width="50"
                                class="avatar"></a>
                    <div class="widget-author-list-content"><h4><a href="http://www.woshipm.com/u/110477"
                                                                   target="_blank">花大虫<span
                                        class="iconfont icon-labelv"></span></a></h4>
                        <p>奇虎360金融"你财富"运营总监</p></div>
                </li>
            </ul>
        </aside>
        <aside id="widget_hot_posts-2" class="widget widget_widget_hot_posts"><h3 class="widget-title">热门文章<span
                        class="u-floatRight hot-nav"><span class="is-active" data-action="bookmark">收藏</span> <span
                            data-action="comments">评论</span> <span data-action="likes">点赞</span></span></h3>
            <ul class="hot-question-list widget-posts-list">
                <%   documentHot.forEach(function (doc) { %>
                <li class="hot-question-item"><span class="num">1</span><a href="http://www.woshipm.com/pmd/663549.html"
                                                                           target="_blank"
                                                                           class="link"><%=doc.document_title%></a>
                </li>
                <% }) %>

            </ul>
        </aside>
        <aside id="books-2" class="widget widget_books">
            <h3 class="widget-title">好书推荐
                <div class="u-floatRight books-nav"><span class="prev"><i
                                class="icon-zuoqiehuan iconfont"></i></span><span
                            class="next"><i class="icon-youqiehuan iconfont"></i></span></div>
            </h3>
            <div class="tempWrap" style="overflow:hidden; position:relative; width:280px">
                <ul class="rec-books"
                    style="width: 1120px; left: 0px; position: relative; overflow: hidden; padding: 0px; margin: 0px;">
                    <li style="float: left; width: 280px;">
                        <div class="rec-book-item" data-id="1">
                            <div class="rec-book-image"><a href="http://y0.cn/yaBmh" target="_blank"
                                                           rel="external nofollow"><img
                                            src="./人人都是产品经理 _ 产品经理、产品爱好者学习交流平台_files/Fkb0uE0X89KoiVbLDu9N.jpg"></a>
                            </div>
                            <h4 class="rec-book-title"><a href="http://y0.cn/yaBmh" target="_blank"
                                                          rel="external nofollow">运营前线1</a></h4>
                            <p class="rec-book-des">39位一线运营专家，9大方面总结数十家大型互联网企业的50个最佳实践！</p>
                        </div>
                        <div class="rec-book-item" data-id="2">
                            <div class="rec-book-image"><a href="http://y0.cn/CHBwp" target="_blank"
                                                           rel="external nofollow"><img
                                            src="./人人都是产品经理 _ 产品经理、产品爱好者学习交流平台_files/EP4Xb7PcEJogB9V6jpou.jpg"></a>
                            </div>
                            <h4 class="rec-book-title"><a href="http://y0.cn/CHBwp" target="_blank"
                                                          rel="external nofollow">进化式运营</a></h4>
                            <p class="rec-book-des">运营界有两本书，一本叫以前的运营，一本叫进化式运营。</p>
                        </div>
                    </li>
                    <li style="float: left; width: 280px;">
                        <div class="rec-book-item" data-id="3">
                            <div class="rec-book-image"><a href="http://y0.cn/KLRT8" target="_blank"
                                                           rel="external nofollow"><img
                                            src="./人人都是产品经理 _ 产品经理、产品爱好者学习交流平台_files/Dzu9PSsTZKChx5yJnGq3.jpg"></a>
                            </div>
                            <h4 class="rec-book-title"><a href="http://y0.cn/KLRT8" target="_blank"
                                                          rel="external nofollow">互联网运营实战手册</a>
                            </h4>
                            <p class="rec-book-des">传授十万用户、百万粉丝的运营心经；腾讯科技、易到共同推荐的运营宝典</p>
                        </div>
                        <div class="rec-book-item" data-id="4">
                            <div class="rec-book-image"><a href="http://y0.cn/xvxD5" target="_blank"
                                                           rel="external nofollow"><img
                                            src="./人人都是产品经理 _ 产品经理、产品爱好者学习交流平台_files/Xctrmo0YvO48JE7GISMg.jpg"></a>
                            </div>
                            <h4 class="rec-book-title"><a href="http://y0.cn/xvxD5" target="_blank"
                                                          rel="external nofollow">全栈市场人</a></h4>
                            <p class="rec-book-des">互联网运营经验倾囊分享，教你如何做一名互联网产品宣传项目操盘手</p>
                        </div>
                    </li>
                    <li style="float: left; width: 280px;">
                        <div class="rec-book-item" data-id="5">
                            <div class="rec-book-image"><a href="http://y0.cn/WEBEW" target="_blank"
                                                           rel="external nofollow"><img
                                            src="./人人都是产品经理 _ 产品经理、产品爱好者学习交流平台_files/GVhGwB0YtH4x1Rtj1pKE.jpg"></a>
                            </div>
                            <h4 class="rec-book-title"><a href="http://y0.cn/WEBEW" target="_blank"
                                                          rel="external nofollow">产品经理必懂的技术那点事儿</a>
                            </h4>
                            <p class="rec-book-des">产品必读技术科普，全面梳理产品经理必懂的技术知识体系架构。</p>
                        </div>
                        <div class="rec-book-item" data-id="6">
                            <div class="rec-book-image"><a href="http://y0.cn/2JLRT" target="_blank"
                                                           rel="external nofollow"><img
                                            src="./人人都是产品经理 _ 产品经理、产品爱好者学习交流平台_files/yuanxing0623.png"></a></div>
                            <h4 class="rec-book-title"><a href="http://y0.cn/2JLRT" target="_blank"
                                                          rel="external nofollow">绝密原型档案</a></h4>
                            <p class="rec-book-des">人人都是产品经理社区出品，看看专业产品经理原型是啥样的</p>
                        </div>
                    </li>
                    <li style="float: left; width: 280px;">
                        <div class="rec-book-item" data-id="7">
                            <div class="rec-book-image"><a href="http://y0.cn/nmC2C" target="_blank"
                                                           rel="external nofollow"><img
                                            src="./人人都是产品经理 _ 产品经理、产品爱好者学习交流平台_files/lE9F6ag8b6Q4taIbCbge.gif"></a>
                            </div>
                            <h4 class="rec-book-title"><a href="http://y0.cn/nmC2C" target="_blank"
                                                          rel="external nofollow">精益数据分析</a></h4>
                            <p class="rec-book-des">硅谷知名创业者力作，帮助产品人打造数据驱动的思维模式。</p>
                        </div>
                        <div class="rec-book-item" data-id="8">
                            <div class="rec-book-image"><a href="http://y0.cn/HBxnP" target="_blank"
                                                           rel="external nofollow"><img
                                            src="./人人都是产品经理 _ 产品经理、产品爱好者学习交流平台_files/ROkBMXhPYhbIleVgb03M.jpg"></a>
                            </div>
                            <h4 class="rec-book-title"><a href="http://y0.cn/HBxnP" target="_blank"
                                                          rel="external nofollow">爆款是怎样炼成的：产品经理晋级宝典</a>
                            </h4>
                            <p class="rec-book-des">以豆瓣早期和搜狗输入法的真实案例，帮助读者深刻理解产品。</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="rec-book-bottom"><a href="http://dh.woshipm.com/book/" target="_blank">更多
                    <svg class="svgIcon-use" viewBox="0 0 19 19" height="19" width="19">
                        <path fill-rule="evenodd"
                              d="M7.6 5.138L12.03 9.5 7.6 13.862l-.554-.554L10.854 9.5 7.046 5.692"></path>
                    </svg>
                </a></div>
        </aside>
    </div>
</div>