<div class="search-overlay">
    <div class="contianer search-content">
        <form class="search-form" action="http://www.woshipm.com" target="_blank" method="get">
            <input type="search" class="search-form-input" name="s" placeholder="请输入搜索关键词">
            <input type="submit" class="search-form-submit" value="搜索">
        </form>
        <div class="search-hot-words">
            <h3 class="search-overlay-title">热搜词</h3>
            <div class="words-list">
                <a href="http://www.woshipm.com/tag/app" target="_blank" class="words-item">app</a><a href="http://www.woshipm.com/tag/o2o" target="_blank" class="words-item">O2O</a><a href="http://www.woshipm.com/tag/prd" target="_blank" class="words-item">PRD</a><a href="http://www.woshipm.com/tag/%e4%ba%92%e8%81%94%e7%bd%91%e9%87%91%e8%9e%8d" target="_blank" class="words-item">互联网金融</a><a href="http://www.woshipm.com/tag/%e4%ba%a4%e4%ba%92%e8%ae%be%e8%ae%a1" target="_blank" class="words-item">交互设计</a><a href="http://www.woshipm.com/tag/rp" target="_blank" class="words-item">原型设计</a><a href="http://www.woshipm.com/tag/%e5%95%86%e4%b8%9a%e6%a8%a1%e5%bc%8f" target="_blank" class="words-item">商业模式</a><a href="http://www.woshipm.com/tag/%e6%95%b0%e6%8d%ae%e5%88%86%e6%9e%90" target="_blank" class="words-item">数据分析</a><a href="http://www.woshipm.com/tag/ue" target="_blank" class="words-item">用户体验</a><a href="http://www.woshipm.com/tag/%e7%ab%9e%e5%93%81%e5%88%86%e6%9e%90" target="_blank" class="words-item">竞品分析</a><a href="http://www.woshipm.com/tag/%e8%bf%90%e8%90%a5" target="_blank" class="words-item">运营</a><a href="http://www.woshipm.com/tag/%e9%9c%80%e6%b1%82%e5%88%86%e6%9e%90" target="_blank" class="words-item">需求分析</a>                </div>
        </div>
        <div class="search-features">
            <h3 class="search-overlay-title">热门专题</h3>
            <div class="search-feature-item">
                <a class="tool-img" href="http://www.woshipm.com/topic/xm" target="_blank">
                    <img rel="nofollow" src="http://image.woshipm.com/wp-files/2017/05/4NhQFjuoq2NXQOryduLb.jpg!/both/180x120">
                    <h3>产品项目总结</h3>
                </a>
            </div>
            <div class="search-feature-item">
                <a class="tool-img" href="http://www.woshipm.com/topic/app" target="_blank">
                    <img rel="nofollow" src="http://image.woshipm.com/wp-files/2017/04/0rOGLNOzMKPy6uOIZNdw.jpg!/both/180x120">
                    <h3>APP运营推广实操指南</h3>
                </a>
            </div>
            <div class="search-feature-item">
                <a class="tool-img" href="http://www.woshipm.com/topic/cpfx" target="_blank">
                    <img rel="nofollow" src="http://image.woshipm.com/wp-files/2017/03/4pqLtfWvgOZ0Zsxn8j2y.jpg!/both/180x120">
                    <h3>产品分析报告撰写指南</h3>
                </a>
            </div>
        </div>
    </div>
</div>