<html>
<head>
    <title>登录-人人都是产品经理</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="Shortcut Icon" href="/assets/images/favicon.ico" type="image/x-icon">
    <link href="/<%= theme %>/assets/css/web2.0.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/<%= theme %>/assets/js/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="/<%= theme %>/assets/js/angular.js"></script>


    <meta name="chromesniffer" id="chromesniffer_meta"
          content="{&quot;Java&quot;:-1,&quot;jQuery&quot;:&quot;1.7.1&quot;}">
    <script type="text/javascript" src="chrome-extension://fhhdlnnepfjhlhilgmeepgkhjmhhhjkh/js/detector.js"></script>
</head>

<body style="background-color: #fff">
<div class="fc_box po_rela">
    <div class="fc_main">
        <p class="dsf_tit" style="margin-top: 20px;">人人都是产品经理账号登录</p>
        <div class="width100" style="overflow: hidden">
            <form method="post" action="//passport.woshipm.com/user/loginByTop.html?_protocol=http" name="aform"
                  id="loginTopForm">
                <input type="hidden" name="FFROMSYS" value="PM">
                <input type="hidden" name="REDIRECT" value="http://www.woshipm.com/pmd/666850.html">
                <ul class="login_ul" style="margin-top:20px;">
                    <li class="mar_t15">
                        <span class="lo_left">用户名</span>
                        <input placeholder="手机/用户名/邮箱" id="nameInput" onfocus="init(this);"
                               onkeydown="javaScript:if(event.keyCode == 13){signUp();}" name="account" value=""
                               type="text" class="lo_input hei_font" maxlength="64" data-form-un="1495443048582.169">
                    </li>
                    <li class="mar_t15">
                        <span class="lo_left">密 码</span>
                        <input placeholder="登录密码" id="pwdInput" onfocus="init(this);"
                               onkeydown="javaScript:if(event.keyCode == 13){signUp();}" name="pwd" type="password"
                               class="lo_input hei_font" maxlength="32" data-form-pw="1495443048582.169">
                    </li>
                    <li class="error_tips">
                        <span class="lo_left">&nbsp;</span>
                        <span id="errorTips"></span>
                    </li>
                    <li><span class="lo_left">&nbsp;</span>
                        <input id="loginTopSubmitInput" type="button" class="lo_button" value="登录"
                               data-form-sbm="1495443048582.169" style="pointer-events: auto;">
                        <input id="loginTopSubmitInputLoading" type="button" class="lo_button" value="正在登录..."
                               style="display: none;">
                    </li>
                    <li class="text_r">
                        <span class="lo_left">&nbsp;</span>
                        <span class="float_l jiu_font">没有账号？
								<a href="javascript:goOutFrame2NewPage('//passport.woshipm.com/reg/index.html?FS=PM&amp;REDIRECT=http://www.woshipm.com/pmd/666850.html')">立即注册</a>
							</span>
                        <a href="javascript:goOutFrame2NewPage('//passport.woshipm.com/user/resetpwd.html')"
                           class="jiu_font">忘记密码?</a>
                    </li>
                    <li>
                        <span class="lo_left">&nbsp;</span><span class="dsf_line">第三方登录</span>
                    </li>
                    <li>
                        <span class="lo_left">&nbsp;</span>
                        <a href="https://open.weixin.qq.com/connect/qrconnect?appid=wx52196f28e265f7b4&amp;redirect_uri=http%3A%2F%2Fpassport.woshipm.com%2Fwx%2Fcallback.html&amp;response_type=code&amp;scope=snsapi_login&amp;state=PM#wechat_redirect"
                           class="wechat">微信登录</a>
                        <!--
                       <a href="https://open.weixin.qq.com/connect/qrconnect?appid=wx3bb656c7c7751c44&redirect_uri=http%3A%2F%2Fp.qidianla.com%2Fwx%2Fcallback.html&response_type=code&scope=snsapi_login&state=PM#wechat_redirect"
                           class="wechat">微信登录</a>
                        -->
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>


<script src="/<%= theme %>/assets/js/default.controller.js"></script>


</body>
</html>