<footer class="site-footer">
    <div class="contianer u-clearfix footer-top">
        <div class="footer-block-left">
            <p class=""><img src="./人人都是产品经理 _ 产品经理、产品爱好者学习交流平台_files/footer-logo.png"></p>
            <a class="a-font mar-r27" href="http://zt.woshipm.com/5years/index.html">关于我们</a>
            <a class="a-font" href="http://www.woshipm.com/tougao">投稿须知</a>
            <a class="a-font mar-r27" href="http://wen.woshipm.com/question/detail/omkf.html">意见反馈</a>
            <a class="a-font" href="http://www.woshipm.com/disclaimer">免责声明</a>
        </div>
        <div class="footer-block-center">
            人人都是产品经理（woshipm.com）是中国最大、最活跃的以产品经理为核心的学习、交流、分享社群，集媒体、教育、招聘、社群活动为一体，全方位服务产品经理，微信公众号woshipm。成立7年以来举办在线讲座500余期，线下活动300+场，覆盖北京、上海、广州、深圳、杭州、成都等10余城市，在互联网业内得到了广泛关注和高度好评。社区目前拥有300万忠实粉丝，其中产品经理占比70万，
            中国75%的产品经理都在这里。
        </div>
        <div class="u-floatRight">
            <ul class="site-icon-list">
                <li>
                    <div class="app-qrcode">
                        <img src="./人人都是产品经理 _ 产品经理、产品爱好者学习交流平台_files/footer-appdownload.png">
                    </div>
                    <span class="iconfont icon-android"></span>
                </li>
                <li>
                    <div class="app-qrcode">
                        <img src="./人人都是产品经理 _ 产品经理、产品爱好者学习交流平台_files/footer-wechat.png">
                    </div>
                    <span class="iconfont icon-wechat"></span>
                </li>
                <li>
                    <div class="app-qrcode">
                        <img src="./人人都是产品经理 _ 产品经理、产品爱好者学习交流平台_files/footer-appdownload.png">
                    </div>
                    <span class="iconfont icon-ios"></span>
                </li>
                <li>
                    <a href="http://weibo.com/526006123" target="_blank" title="关注新浪微博"><span
                                class="iconfont icon-weibo"></span></a>
                </li>
            </ul>
            <div class="u-textAlignCenter site-tel">合作/建议/投诉: 18676681707</div>
        </div>
    </div>
    <div class="u-textAlignCenter copyright">Copyright © 2010-2017 WOSHIPM.COM - 人人都是产品经理 - <a
                href="http://www.miibeian.gov.cn/">粤ICP备14037330号-1</a></div>
</footer>