@import "~antd/lib/style/themes/default.less";


i.trigger {
  font-size: 20px;
  line-height: 64px;
  cursor: pointer;
  transition: all .3s, padding 0s;
  padding: 0 24px;
  &:hover {
    background: @primary-1;
  }
}


