<%- include('header') %>
<div class="content-wrapper"  ng-controller="manage" >

  <section class="content-header">
    <h1>
      <%= blogName %>
      <small>基本信息</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i>主页</a></li>
      <li><a href="#"><%= category %></a></li>
      <li class="active">基本信息</li>
    </ol>
  </section>




</div>
<%- include('footer') %>