<%- include('header') %>
<div class="content-wrapper"  ng-controller="menuLocation" >
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      <%= blogName %>
      <small>添加分类</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i>主页</a></li>
      <li><a href="#"><%= category %></a></li>
      <li class="active">添加分类</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content" >
    <div class="row">
      <div class="col-md-12">
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">添加分类</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          <form class="form-horizontal" name="myForm">
            <div class="box-body">
              <div class="form-group" ng-class="{'has-warning':myForm.cate_name.$invalid && !myForm.cate_name.$pristine,'has-success':myForm.cate_name.$valid && !myForm.cate_name.$pristine,'has-error':isUsernameExist}">
                <label for="username" class="col-sm-2 control-label">分类名称</label>

                <div class="col-sm-10">
                  <input type="text" name="cate_name" ng-model="cate_name" class="form-control" id="cate_name" placeholder="请输入用户名"  ng-minlength="2" ng-maxlength="6" ng-pattern="/[\u4e00-\u9fa5]/" required>
                  <span class="help-block ng-hide"
                        ng-show="myForm.cate_name.$invalid && !myForm.cate_name.$pristine"><span
                            class="glyphicon glyphicon-remove"></span>对不起，分类名称格式不正确！</span>
                  <span class="help-block ng-hide"
                        ng-show="myForm.cate_name.$valid && !myForm.cate_name.$pristine && !isUsernameExist"><span
                            class="glyphicon glyphicon-ok"></span>恭喜您，分类名称可用！</span>
                </div>
              </div>
              <div class="form-group" ng-class="{'has-warning':myForm.cate_slug.$invalid && !myForm.cate_slug.$pristine,'has-success':myForm.cate_slug.$valid && !myForm.cate_slug.$pristine,'has-error':isUsernameExist}">
                <label for="nickname" class="col-sm-2 control-label">别名</label>

                <div class="col-sm-10">
                  <input type="text" name="cate_slug" ng-model="cate_slug" class="form-control" id="cate_slug" placeholder="请输入别名"  ng-pattern="/^[a-zA-Z]\w{1,19}$/" required>
                  <span class="help-block ng-hide"
                        ng-show="myForm.cate_slug.$invalid && !myForm.cate_slug.$pristine"><span
                            class="glyphicon glyphicon-remove"></span>对不起，别名格式不正确！</span>
                  <span class="help-block ng-hide"
                        ng-show="myForm.cate_slug.$valid && !myForm.cate_slug.$pristine && !isUsernameExist"><span
                            class="glyphicon glyphicon-ok"></span>恭喜您，别名可用！</span>
                </div>
              </div>

              <div class="form-group" ng-class="{'has-warning':myForm.cate_order.$invalid && !myForm.cate_order.$pristine,'has-success':myForm.cate_order.$valid && !myForm.cate_order.$pristine,'has-error':isUsernameExist}">
                <label for="password" class="col-sm-2 control-label">排序</label>

                <div class="col-sm-10">
                  <input type="password" name="cate_order" ng-model="cate_order" class="form-control" id="password" placeholder="请输入排序数字"  ng-pattern="/^\d{1,4}$/" required>
                  <span class="help-block ng-hide"
                        ng-show="myForm.cate_order.$invalid && !myForm.cate_order.$pristine"><span
                            class="glyphicon glyphicon-remove"></span>对不起，排序格式不正确！</span>
                  <span class="help-block ng-hide"
                        ng-show="myForm.cate_order.$valid && !myForm.cate_order.$pristine && !isUsernameExist"><span
                            class="glyphicon glyphicon-ok"></span>恭喜您，排序可用！</span>
                </div>
              </div>
              <div class="form-group" ng-class="{'has-warning':myForm.cate_parent.$invalid && !myForm.cate_parent.$pristine,'has-success':myForm.cate_parent.$valid && !myForm.cate_parent.$pristine,'has-error':isUsernameExist}">
                <label  class="col-sm-2 control-label">父级</label>
                <div class="col-sm-10">
                  <select class="form-control" name="cate_parent" ng-model="cate_parent" ng-options="x.id as x.name for x in cateParentOptions" required>
                    <option value="">-- 请选择 --</option>
                  </select>
                  <span class="help-block ng-hide"
                        ng-show="myForm.cate_parent.$invalid && !myForm.cate_parent.$pristine"><span
                            class="glyphicon glyphicon-remove"></span>对不起，您必须选择一项！</span>
                </div>
              </div>


              <div class="form-group" ng-class="{'has-warning':myForm.cate_remark.$invalid && !myForm.cate_remark.$pristine,'has-success':myForm.cate_remark.$valid && !myForm.cate_remark.$pristine,'has-error':isUsernameExist}">
                <label  class="col-sm-2 control-label">备注</label>
                <div class="col-sm-10">
                  <textarea name="cate_remark" ng-model="cate_remark" class="form-control" rows="3" placeholder="请输入备注信息" ng-minlength="6" ng-maxlength="30"  required></textarea>
                  <span class="help-block ng-hide"
                        ng-show="myForm.cate_remark.$invalid && !myForm.cate_remark.$pristine"><span
                            class="glyphicon glyphicon-remove"></span>对不起，备注格式不正确！</span>
                  <span class="help-block ng-hide"
                        ng-show="myForm.cate_remark.$valid && !myForm.cate_remark.$pristine && !isUsernameExist"><span
                            class="glyphicon glyphicon-ok"></span>恭喜您，备注可用！</span>
                </div>
              </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <button type="submit" class="btn btn-default">取消</button>
              <button type="submit" class="btn btn-info pull-right" ng-click="categoriesAdd()">添加分类</button>
            </div>
            <!-- /.box-footer -->
          </form>
        </div>
      </div>
      <!--/.col (right) -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>
<%- include('footer') %>