<%- include('header') %>
<div class="content-wrapper"  ng-controller="users" >
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      <%= blogName %>
      <small>所有用户</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i>主页</a></li>
      <li><a href="#"><%= category %></a></li>
      <li class="active">所有用户</li>
    </ol>
  </section>


  <section class="content" ng-app="myApp" ng-controller="users">
    <div class="row">
      <div class="col-md-12">
        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title">所有用户</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <table class="table table-hover  table-bordered table-striped">
              <tr>
                <th style="width: 10px">UID</th>
                <th>用户名</th>
                <th>状态</th>
                <th>昵称</th>
                <th>用户组</th>
                <th>文章数量</th>
                <th>注册时间</th>
                <th>操作</th>
              </tr>
              <tr ng-repeat="x in data">
                <td>1.</td>
                <td>{{ x.adminUser_username}}</td>
                <td>{{ x.adminUser_status }}</td>
                <td>{{ x.adminUser_status }}</td>
                <td>{{ x.adminUser_userGroup }}</td>
                <td>999</td>
                <td>{{ x.date | date:"yyyy-MM-dd HH:mm:ss"}}</td>
                <td>
                  <button type="button" class="btn btn-primary btn-xs btn-flat">编辑</button>
                  <button type="button" class="btn btn-danger btn-xs btn-flat">删除</button>
                  <button type="button" class="btn btn-info btn-xs btn-flat">投稿分类</button>
                </td>
              </tr>
            </table>
          </div>
          <!-- /.box-body -->
          <div class="box-footer clearfix">
            <ul class="pagination pagination-sm no-margin pull-right">
              <li><a href="#">&laquo;</a></li>
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">&raquo;</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
<%- include('footer') %>