<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <title>L-react-app</title>
    <meta name="description" content="L-react-app">
    <meta name="keyword" content="L-react-app">
    <link rel="shortcut icon" href="/favicon.ico">
    <link href="style.css" rel="stylesheet">
</head>
<body class="">

<div id="root"></div>


<script type="text/javascript" src="vendor.js"></script>
<script type="text/javascript" src="bundle.js"></script>
</body>
</html>